body {
  font-family: Quicksand, sans-serif;
  color: #fff;
  height: 100%;
  width: 100%;
  position: relative;
}

#particles-js{
  width: 100%;
  height: 100%;
  background-color: #b61924;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#particles-js h1 {
  text-align: center;
  font-size: 64;  
}
