
body {
  font-family: Quicksand, sans-serif;
  color: #fff;
  height: 100%;
  width: 100%;
}

#particles-js{
  width: 100%;
  height: 100%;
  background-color: #b61924;
}

#particles-js h1 {
  text-align: center;
  font-size: 64px;  
}
